.adminLayout {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: calc(100vh - 72px);
  background: linear-gradient(180deg,#020617,#020617);
}

.adminMain {
  padding: 36px;
  color: #fff;
}
